# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
.nyc_output/

# yalc
yalc.lock
.yalc

# testing
samples
typedoc-examples
out
html
/devguide-html

# dependencies
node_modules

# IDEs and editors
.settings/

# misc
npm-debug.log
/typings
.npmrc

#System Files
.DS_Store
Thumbs.db

#ignore js files inside src/spec
/spec/**/*.js
/spec/**/*.d.ts
/spec/**/*.js.map
/src/**/*.d.ts
/src/**/*.js.map
