# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
tmp
/out
/test/fixtures
.nyc_output/
html
samples
demo

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings
.npmrc

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db

#ignore js files inside src/spec
/spec/**/*.js
/spec/**/*.d.ts
/spec/**/*.js.map
/src/**/*.d.ts
/src/**/*.js.map
