
{{#if name}}
<a id="{{ getAnchorName name}}"></a>
### {{{name}}}: {{#with type}}{{>type}}{{/with}}
{{/if}}
{{> comment }}
{{#each groups}}
{{#each children}}
{{#unless hasOwnDocument}}
{{compileMember this}}
{{/unless}}
{{/each}}
{{/each}}

