
{{#if name}}
<a id="{{name}}"></a>
## {{{name}}}: {{#with type}}{{>type}}{{/with}}
{{/if}}

{{#each groups}}
{{#each children}}
{{#unless hasOwnDocument}}
{{compileMember this}}
{{/unless}}
{{/each}}
{{/each}}

