name: CI [docusaurus-plugin-typedoc]
on:
  push:
    paths:
      - 'packages/docusaurus-plugin-typedoc/**'
      - '!packages/docusaurus-plugin-typedoc/README.md'
      - '!packages/docusaurus-plugin-typedoc/CHANGELOG.md'
      - '!packages/docusaurus-plugin-typedoc/package.json'
  pull_request:
    paths:
      - 'packages/docusaurus-plugin-typedoc/**'
      - '!packages/docusaurus-plugin-typedoc/README.md'
      - '!packages/docusaurus-plugin-typedoc/CHANGELOG.md'
      - '!packages/docusaurus-plugin-typedoc/package.json'
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['18']
    name: Node ${{ matrix.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install
        run: HUSKY=0 npm install
      - name: Lint
        run: npm run lint --workspace docusaurus-plugin-typedoc
      - name: Build
        run: npm run build --workspace typedoc-plugin-markdown --workspace docusaurus-plugin-typedoc
      - name: Test
        run: npm run test --workspace docusaurus-plugin-typedoc
