name: CI [typedoc-plugin-frontmatter]
on:
  push:
    paths:
      - packages/typedoc-plugin-frontmatter/**
  pull_request:
    paths:
      - packages/typedoc-plugin-frontmatter/**
jobs:
  lint-and-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: ['18']
    name: Node ${{ matrix.node }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Set up Node
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node }}
          cache: 'npm'
      - name: Install
        run: npm install
      - name: Lint
        run: npm run lint --workspace typedoc-plugin-frontmatter
      - name: Build
        run: npm run build --workspace typedoc-plugin-markdown --workspace typedoc-plugin-frontmatter
      - name: Test
        run: npm run test --workspace typedoc-plugin-frontmatter
